@page
@using DataProtection.Pages
@model DataProtection.Pages.LogoutModel

<form method="post">
    <h3>Sicher auslogen?</h3>
    <button type="submit" class="btn btn-primary">Ausloggen</button>
</form>