@page
@using Authorization.Pages
@model Authorization.Pages.Only16Model
@{
    ViewData["Title"] = "Du bist mindestens 16";
}
<h2>@ViewData["Title"]</h2>
<img src="~/images/Gaffel_Bock_auf_Kolsch.jpg" height="400" />
<a href="https://de.wikipedia.org/wiki/Datei:Gaffel_Bock_auf_K%C3%B6lsch.jpg">Bild Quelle</a>