@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.IsAuthenticated)
{
    <h3>Aktuelle Claims</h3>
    <table class="table table-striped">
        @foreach (var claim in Model.Claims)
        {
            <tr><td>@claim.Type</td><td>@claim.Value</td> </tr>
        }
    </table>
}
else
{
    <h3 class="alert-info alert">Der aktuelle Benutzer ist nicht authentifiziert</h3>
    <a asp-page="./Login">LogIn</a>
}
